[submodule "glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "nlohmann"]
	path = vendor/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/freeType"]
	path = vendor/freeType
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
