# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
bin-int/

*.make
Makefile
*.spv
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.vscode

GPUCache/
VTune Profiler Results/
debug.log
*.bin

PoulpeEngine.cflags
PoulpeEngine.config
PoulpeEngine.creator
PoulpeEngine.creator.user
PoulpeEngine.cxxflags
PoulpeEngine.files
PoulpeEngine.includes
.qtc_clangd/
PoulpeEngine.creator.user
cache/
.clang-tidy
Directory.build.props
build
CMakeFiles
