# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
bin-int/

*.make
Makefile
*.spv
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.vscode

GPUCache/
VTune Profiler Results/
debug.log
*.bin

Rebulkan.cflags
Rebulkan.config
Rebulkan.creator
Rebulkan.creator.user
Rebulkan.cxxflags
Rebulkan.files
Rebulkan.includes
.qtc_clangd/
Rebulkan.creator.user
cache/
.clang-tidy
Directory.build.props
build